@define-color main_dark #222222;

@define-color main_ddark #292929;
@define-color main_ddark_hover #343434;

@define-color main_grey #303030;
@define-color main_blue #2283d7;

@define-color text_color #e2e2e2;
@define-color text_color_hover #aca8a8;
@define-color text_copy #7a7a7a;

@define-color gtk_box #343434;

* {  }

#copyright {
    margin: 0;
    padding: 5px 0;

    background-color: @main_dark;
    color: @text_copy;
}

#logo, #img {
    background-color: @main_dark;
}

#logo {
    margin-top: 5px;
    background: @main_dark url("../assets/images/logo.png") no-repeat top center;
}

#copyright:hover {
    transition: 5000ms linear;
    color: @text_color_hover;
}

GtkWindow GtkLabel {
    background-color: transparent;
    color: @main_dark;
}

.notebook GtkBox,
.notebook GtkGrid {
    background-color: @gtk_box;
    padding: 0 50px;
}

.notebook .button {
    background-color: @main_dark;
    background-image: none;
    border-color: @main_ddark;
    border: 1px solid @main_dark;
    border-radius: 3px;
    padding: 10px 0;
    /*margin: 5px 10px;*/
}

.notebook .button GtkLabel {
    background-color: transparent;
    background: transparent;
    background-image: none;
}

.notebook .button {
    border: none;
    border-width: 0;
    border-image: none;
}

.notebook .button:hover,
.notebook .button:prelight {
    transition: 150ms ease-in-out;
    background-image: none;
    background: @main_ddark_hover;
    background-color: @main_ddark_hover;
}

.notebook .entry {
    background: @main_dark;
    color: @main_blue;
}

.notebook GtkLabel {
    color: @text_color;
    background-color: @gtk_box;
}

.notebook {
    padding: 1px;

    border-color: @main_ddark;
    border-style: solid;
    border-width: 1px;
    border-radius: 0;

    background-color: @main_ddark;

    -GtkNotebook-tab-overlap: 3;
    -GtkNotebook-tab-curvature: 2;
}

.notebook tab:nth-child(first) {
    margin-top: 3px;
}

.notebook tab {
    padding: 10px 50px;
    background-image: none;
    -adwaita-focus-border-radius: 4;
    color: @text_color;
    background-color: @main_ddark;
    border-color: @main_ddark;
}

.notebook tab:hover,
.notebook tab:prelight {
    transition: 5000ms ease-in-out;
    background-image: none;
    background: @main_ddark_hover;
    background-color: @main_ddark_hover;
    border-color: @main_ddark_hover;
    /*border-left: 2px solid @main_blue;*/
}

.notebook tab:active {
    background-color: @main_ddark_hover;
    border-color: @main_ddark_hover;
    border-left: 2px solid @main_blue;
}

.notebook tab GtkLabel {
    background-color: transparent;
    background: transparent;
    background-image: none;
}

GtkTreeView {

}

column-header:nth-child(even) .button,
column-header:nth-child(odd) .button {
    border-radius: 0px;
    background-color: @main_ddark;
    border: none;
    border-width: 0px;
}

column-header .label,
column-header:nth-child(odd) .label {
    color: red;
    background: transparent;
    background-color: transparent;
    background-image: none;
    padding: 0 50px;
}

column-header:nth-child(even) .button,
column-header:nth-child(odd) .button {
    border-width: 0 0 1px 0;
    background-color: red;
}

GtkTreeView row:nth-child(even) {
    background-color: shade(@main_ddark, 0.9);
    color: white;
}

GtkTreeView row:nth-child(odd) {
    background-color: shade(@main_grey, 1.0);
    color: white;
}

GtkTreeView row:selected {
    background-color: @main_blue;
    color: red;
}

GtkTreeView .view .cell:selected {
color: #fff;
background-color: #4a90d9;
}

GtkTreeView .view:backdrop {
color: #888a85;
background-color: #efefef;
}
